function Car.new 0
push constant 13
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 2
push argument 2
pop this 1
push constant 0
pop this 5
push constant 15
pop this 7
push constant 0
not
pop this 10
push constant 0
pop this 11
push constant 0
not
pop this 12
push constant 128
pop this 8
push constant 384
pop this 9
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
pop this 3
goto IF_END0
label IF_FALSE0
push this 8
pop this 3
label IF_END0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 210
pop this 4
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 190
pop this 4
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 170
pop this 4
label IF_FALSE3
push this 1
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 30
pop this 6
label IF_FALSE4
push pointer 0
return
function Car.move 0
push argument 0
pop pointer 0
push this 10
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push this 0
call Math.abs 1
add
push this 6
call Math.min 2
pop this 5
push this 5
push this 6
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 10
label IF_FALSE1
push this 0
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 0
add
pop this 3
label IF_FALSE2
goto IF_END0
label IF_FALSE0
push this 3
push this 0
add
pop this 3
label IF_END0
push this 11
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 0
lt
push this 3
push this 8
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 8
pop this 3
push constant 0
not
pop this 11
label IF_FALSE4
push this 0
push constant 0
gt
push this 3
push this 5
add
push this 9
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 9
push this 3
sub
pop this 5
push constant 0
not
pop this 11
label IF_FALSE5
goto IF_END3
label IF_FALSE3
push this 0
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 8
pop this 3
label IF_FALSE6
push this 5
push this 0
call Math.abs 1
sub
pop this 5
label IF_END3
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 5
push constant 1
sub
push constant 0
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
pop this 12
label IF_FALSE7
push constant 0
return
function Car.draw 0
push argument 0
pop pointer 0
push this 3
push this 4
push this 3
push this 5
add
push this 4
push this 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Car.isActive 0
push argument 0
pop pointer 0
push this 12
return
function Car.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
